html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2rem;
}

h1 span{
    color: #FF1E00;
}
main{
    background-color: black;
    height: 100vh;
}
.font-display{
    text-decoration: none;
    font-size: 6rem;
}
.container{
    margin-left: 19vw;
    margin-top: 24vh;
}

.aboutTag::before{
    color: #EEEEEE;
    content: 'Hello.';
}
.aboutTag:hover::before{
    font-size: 5rem;
    padding-left: 30px;
    text-decoration: underline;
    content: 'About';
}

.workTag::before{
    color: #FF1E00;
    content: "I am";
}
.workTag:hover::before{
    font-size: 5rem;
    padding-left: 30px;
    text-decoration: underline;
    content: 'Work';
}

.contactTag::before{
    color: #FF1E00;
    content: 'Mubashshir';
}
.contactTag:hover::before{
    font-size: 5rem;
    padding-left: 30px;
    text-decoration: underline;
    content: 'Contact';
}

nav{
    text-align: center;
    background-color: black;
    color: white;
}


#aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1c1616;
    color: #eeeeee;
    height: 90vh;
}
#aboutMe h2{
    font-size: 2em;
    text-decoration: underline;
    color: #ff1e00;
    margin-bottom: 2vh;
}
#aboutMe p{
    margin: 0px;
    text-align: justify;
    font-size: 1.5em;
}
#aboutMe img{
    max-width: 100%;
    margin-top: 4vh;
}
#aboutMe div{
    max-width: 800px;
    max-height: 100vh;
    overflow: hidden;
    margin: auto;
    padding: 5px;
}
#aboutMe span{
    color: #ff1e00;
}


#myWork{
    background-color: green;
    height: 60vh;
}





#contactMe{
    background-color: red;
    height: 60vh;
}