html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

h1{
    color: #EEEEEE;
    font-size: 2rem;
}

h1 span{
    color: #FF1E00;
}
main{
    background-color: black;
    height: 100vh;
}
.font-display{
    text-decoration: none;
    font-size: 6rem;
}
.container{
    margin-left: 19vw;
    margin-top: 24vh;
}

.aboutTag::before{
    color: #EEEEEE;
    content: 'Hello.';
}
.aboutTag:hover::before{
    font-size: 5rem;
    padding-left: 30px;
    text-decoration: underline;
    content: 'About';
}

.workTag::before{
    color: #FF1E00;
    content: "I am";
}
.workTag:hover::before{
    font-size: 5rem;
    padding-left: 30px;
    text-decoration: underline;
    content: 'Work';
}

.contactTag::before{
    color: #FF1E00;
    content: 'Mubashshir';
}
.contactTag:hover::before{
    font-size: 5rem;
    padding-left: 30px;
    text-decoration: underline;
    content: 'Contact';
}

nav{
    text-align: center;
    background-color: black;
    color: white;
}

.subHeading{
    font-size: 4rem;
    text-decoration: underline;
    color: #ff1e00;
    margin-bottom: 7vh;
}

#aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1c1616;
    color: #eeeeee;
    height: 100vh;
}
#aboutMe p{
    margin: 0px;
    text-align: justify;
    font-size: 1.5em;
}
#aboutMe img{
    max-width: 100%;
    margin-top: 4vh;
}
#aboutMe div{
    max-width: 800px;
    max-height: 100vh;
    overflow: hidden;
    margin: auto;
    padding: 5px;
}
#aboutMe span{
    color: #ff1e00;
}


#myWork{
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    background-color: #2b2b2b;
    height: 100vh;
}


#contactMe{
    background-color: #EEEEEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#contactMe div{
    margin: 3vh 3vh 3vh 3vh;
}


#myWork {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.projects{
    margin: 2vh 3vh 3vh 3vh;
    justify-content: center;
    display: flex;
}
.project-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background-color: #000;
    border: 2px solid #eee;
    border-radius: 8px;
    overflow: hidden;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 10px;
}

.project-link {
    margin-top: 3vh;
    display: inline-block;
    background-color: #ff1e00;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.project-link:hover {
    background-color: #ff4500;
}