/* root style */
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
}

/* general style */
img {
  height: auto;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}
.font-display {
  color: #57b0ef;
  padding: 1vw;
  text-decoration: none;
  font-weight: 600;
  display: inline;
}

/* body style */
body {
  display: flex;
  flex-direction: column;
}

/* header and nav style  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2vw 6%;
}
.logo {
  width: 11vw;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

nav {
  list-style: none;
}
nav li {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 2px;
  display: inline-block;
}
nav li a {
  transition: all 0.5s ease 0.3s;
}
nav li a:hover {
  color: rgb(67 57 134);
}

/* main and Hero style  */

main {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: stretch;
  justify-content: space-between;
}
.heroBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 1.5vw;
  flex-grow: 1;
  flex-shrink: 0;
}
.heroBody span {
  color: #6b4fe7;
}

.heroBody h1 {
  margin-top: 10vh;
  color: #051964;
  font-size: 3em;
  text-align: center;
}

.heroBody p {
  text-align: center;
  font-size: 2rem;
  margin-top: 3vh;
}

.heroBody img {
  position: relative;
  width: 30vw;
  max-width: 100%;
  height: auto;
  padding: 6vh 0 2vh 0;
  margin: 2rem 0;
}

.heroFoot {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0vh 2vw;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.Hero_img {
  width: 75vw;
}

.subHeading {
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 7vh;
}

/* about me style  */

#aboutMe {
  padding: 6vh 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #081b62;
  color: #ffffff;
}
#aboutMe p {
  margin: 0px;
  text-align: justify;
  font-size: 1.5em;
}
#aboutMe img {
  max-width: 100%;
  margin-top: 4vh;
}
#aboutMe div {
  max-width: 800px;
  min-height: 100vh;
  overflow: hidden;
  margin: auto;
  padding: 5px;
}
#aboutMe span {
  font-size: 2.1rem;
}

#contactMe {
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#contactMe div {
  margin: 3vh 3vh 3vh 3vh;
}

#myWork {
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #ffffff;
  min-height: 100vh;
}

.projects {
  margin: 1vh 3vw;
  justify-content: center;
  display: flex;
}
.project-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  background-color: #57b0ef;
  border: 3px solid #0b1d60;
  border-radius: 1.5rem;
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-top: 2vh;
  border: 1.5px solid #000000;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-weight: bold;
  margin-bottom: 3vh;
}

.project-link {
  margin-top: 3vh;
  display: inline-block;
  background-color: #0b1d60;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  font-weight: bold;
  color: #0b1d60;
  background-color: #ffffff;
}

/* responsive design  */

@media (max-width: 736px) {

  header{
    flex-direction: column;
  }
  .logo {
    width: 30vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 7vh 0;
  }
  nav ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  nav li{
    padding: 1.5vh;
  }
  .heroBody h1{
    font-size: 2em;
  }
  .heroBody p{
    font-size: 1.5em;
  }
  #aboutMe {
    font-size: .8em; 
  }
  #aboutMe h2{
    font-size: 3em;
  }
  #aboutMe p span{
    font-size: 1.4em;
    font-weight: 500;
    font-style: italic;
  }
  .projects{
    flex-direction: column;
  }
}